*{
    font-family: 'Poppins', sans-serif;
}
.nav-link{
    color: #293462;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
}
.btn-login{
    background-color: #D61C4E;
    font-style: normal;
    font-weight: 600;
    font-size: .9rem;
    color: white;
    border-radius: .75rem;
}
h1{
    font-weight: 600;
    font-style: normal;
    font-size: 2.1rem;
}
.btn-daftar{
    background-color: #293462;
}
.btn-reset{
    background-color: #D61C4E;
}
.btn-daftar, .btn-reset{
    color: white;
    border-radius: .75rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
}
.card{
    border-radius: 16px;
}
.card-poster{
    background-color: #D61C4E;
    border: none;
    /* border-radius: 16px; */
    color: white;
}
.daftar-kegiatan{
    background-color: #293462;
    /* border-radius: 16px; */
}
.footer{
    background-color: #293462;
    color: white;
}
h5{
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
}
a{
    text-decoration: none;
}
.footer-1{
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}
.copyright{
    font-style: normal;
    font-weight: 700;
    font-size: 1.7rem;
}